.devil {
  background: linear-gradient(145deg, #ff0000, transparent 30%);
}

.angel {
  background: linear-gradient(215deg, #87cefa, transparent 30%);
}

.slidev-runner-output {
  font-size: 20px !important;
  line-height: normal !important;
}

.full {
  padding: 0;
}
