.devil {
  background: linear-gradient(145deg, #ff0000, transparent 30%);
}

.angel {
  background: linear-gradient(215deg, #87cefa, transparent 30%);
}

.tech-stack-table {
  .topic {
    font-weight: bold;
  }
  .devil-answer:not(.slidev-vclick-current) {
    opacity: 0.2;
  }
  .angel-answer.slidev-vclick-current {
    font-weight: bold;
  }
}

.slidev-runner-output {
  font-size: 20px !important;
  line-height: normal !important;
}

:root {
  --prism-font-size: 20px;
  --prism-line-height: 27px;
}

.slidev-code-wrapper > pre {
  padding-top: 15px !important;
  padding-left: 20px !important;
}

#slide-content {
  transition: background-color 500ms ease-in-out !important;
}
